[submodule ".fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".bash-my-aws"]
	path = .bash-my-aws
  url = https://github.com/bash-my-aws/bash-my-aws.git

# https://github.com/nnellans/terraform-guide.git
# https://github.com/aws/aws-cli
# https://github.com/aws-samples/aws-stepfunctions-ecs-fargate-process.git
# https://github.com/awslabs/aws-solutions-constructs.git

# https://github.com/hashicorp/learn-terraform-github-actions
# https://github.com/Azure-Samples/terraform-github-actions.git
# https://github.com/dockersamples/node-mongo-docker.git
